* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: whitesmoke;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

hr {
	margin: 25px;
}

h3 {
	padding: 30px;
  	margin-top: 30px;
}

button {
	gap: 12px;
	padding: 8px;
}

.footer {
	padding: 30px;
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: white;
}

a {
	color: #2574A9;
}